<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>

    <div class="sticky-note-wrapper">
      <header class="header clearfix">
        <span class="login-bt right">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-github"></use>
          </svg>
          GitHub登录
        </span>
      </header>
      <div id='main-content' class="main-content">
        <span class="item" style="width: 20px; display: inline-block">1</span>
        <span class="item" style="width: 50px; display: inline-block">2</span>
        <span class="item">3</span>
        <span class="item">4</span>
      </div>
    </div>

    <script src="js/index.js"></script>
    <script src="//at.alicdn.com/t/font_1063682_5d19eqngec3.js"></script>
  </body>
</html>
