.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: #00d3aa;
  background: white;
  box-shadow: 0 0px 10px rgba(0, 137, 110, 0.3);
  font-size: 20px;
  padding: 14px 68px;
  font-family: PingFangSC-Medium; }
.note {
  transition: all .5s;
  width: 230px;
  min-height: 250px;
  border-radius: 4px;
  position: absolute;
  background: white;
  margin: 10px;
  color: #4D4D4D;
  padding: 0 20px;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column; }
  .note.hidden {
    display: none; }
  .note:hover .note-header .icon-close {
    opacity: 1;
    transition: all 0.5s; }
  .note .note-header {
    color: #808080;
    font-size: 14px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    user-select: none; }
    .note .note-header .user-name {
      flex: 1;
      word-break: break-all; }
    .note .note-header .icon-close {
      cursor: pointer;
      opacity: 0;
      font-size: 18px; }
  .note .note-content {
    position: relative;
    width: 100%;
    flex: 1;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    word-break: break-all;
    padding: 5px 0;
    margin-bottom: 10px; }
    .note .note-content:focus {
      outline: none; }
  .note .create-time-wrapper {
    font-size: 14px; }
    .note .create-time-wrapper .create-time {
      flex: 1; }
  .note .note-footer {
    margin-bottom: 20px; }
    .note .note-footer .level-wrapper {
      margin-bottom: 8px; }
      .note .note-footer .level-wrapper .level-title {
        font-size: 14px;
        margin-right: 5px; }
      .note .note-footer .level-wrapper .icon-star-wrapper {
        cursor: pointer;
        line-height: 1; }
        .note .note-footer .level-wrapper .icon-star-wrapper .icon-star {
          color: #DBDBDB; }
        .note .note-footer .level-wrapper .icon-star-wrapper.active .icon-star {
          color: #fee82d; }
    .note .note-footer .status-bt {
      white-space: nowrap;
      padding: 2px 0;
      text-align: center;
      width: 50px;
      display: inline-block;
      cursor: pointer;
      background: #00d3aa;
      border-radius: 10px;
      margin: 10px 0; }
      .note .note-footer .status-bt .icon-check {
        color: white;
        font-size: 18px; }
      .note .note-footer .status-bt .status-done {
        display: none;
        color: white;
        font-size: 14px; }
      .note .note-footer .status-bt.active {
        background: #fee82d; }
        .note .note-footer .status-bt.active .status-done {
          display: inherit; }
        .note .note-footer .status-bt.active .icon-check {
          display: none; }

.draggable {
  opacity: 0.8;
  cursor: move;
  transition: none; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: PingFangSC-Regular; }

ul, ol {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.sticky-note-wrapper {
  min-height: 100vh;
  background: #f4f5f5;
  overflow: hidden; }
  .sticky-note-wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    background: #ffffff;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.22); }
    .sticky-note-wrapper .header .header-title {
      font-size: 32px;
      color: #00D3AA;
      font-family: FZY4JW--GB1-0; }
    .sticky-note-wrapper .header .notes-type-wrapper {
      display: flex;
      flex: 1;
      font-size: 18px;
      justify-content: center; }
      .sticky-note-wrapper .header .notes-type-wrapper .notes-type {
        margin: 0 50px;
        color: #999999;
        border-bottom: 2px solid transparent;
        position: relative;
        cursor: pointer; }
        .sticky-note-wrapper .header .notes-type-wrapper .notes-type::after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 3px; }
        .sticky-note-wrapper .header .notes-type-wrapper .notes-type.active {
          color: #00d3aa; }
        .sticky-note-wrapper .header .notes-type-wrapper .notes-type:hover, .sticky-note-wrapper .header .notes-type-wrapper .notes-type.active {
          color: #00d3aa; }
          .sticky-note-wrapper .header .notes-type-wrapper .notes-type:hover::after, .sticky-note-wrapper .header .notes-type-wrapper .notes-type.active::after {
            background: #00d3aa;
            animation: slideUp 0.3s; }

@keyframes slideUp {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
    .sticky-note-wrapper .header .user-area {
      display: flex;
      align-items: center;
      line-height: 1; }
      .sticky-note-wrapper .header .user-area .line {
        margin: 0 5px; }
      .sticky-note-wrapper .header .user-area img {
        height: 30px;
        height: 30px;
        border: 1px solid #999;
        border-radius: 50%;
        margin-right: 5px; }
      .sticky-note-wrapper .header .user-area .logout {
        background: #00d3aa;
        padding: 7px;
        border-radius: 5px;
        color: white;
        cursor: pointer; }
    .sticky-note-wrapper .header .login-bt {
      background: #00d3aa;
      color: white;
      border-radius: 20px;
      padding: 8px;
      display: flex;
      align-items: center; }
      .sticky-note-wrapper .header .login-bt .icon-github {
        margin-right: 5px;
        font-size: 24px; }
  .sticky-note-wrapper .main-content {
    width: 86%;
    margin: 0 auto;
    padding-top: 80px;
    min-height: 100vh;
    position: relative; }
  .sticky-note-wrapper .add-note {
    cursor: pointer;
    position: fixed;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    bottom: 20px;
    background: #00d3aa;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22); }
  .sticky-note-wrapper .shade-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5); }
    .sticky-note-wrapper .shade-wrapper.active {
      display: inherit; }
  .sticky-note-wrapper .note-form-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 4px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: PingFangSC-Medium;
    display: none;
    user-select: none; }
    .sticky-note-wrapper .note-form-wrapper.active {
      display: flex; }
    .sticky-note-wrapper .note-form-wrapper .form-tile {
      color: #666666;
      font-size: 28px;
      text-align: center;
      margin-bottom: 20px; }
    .sticky-note-wrapper .note-form-wrapper .icon-close {
      position: absolute;
      right: 20px;
      top: 25px;
      font-size: 24px;
      cursor: pointer; }
    .sticky-note-wrapper .note-form-wrapper #note-content {
      background: #F5F5F5;
      border-radius: 4px;
      padding: 10px;
      resize: none;
      font-size: 20px; }
      .sticky-note-wrapper .note-form-wrapper #note-content::placeholder {
        color: #999999;
        font-size: 20px; }
    .sticky-note-wrapper .note-form-wrapper .level-wrapper {
      margin: 20px 0;
      display: flex;
      align-items: center;
      color: #333333; }
      .sticky-note-wrapper .note-form-wrapper .level-wrapper .star-wrapper {
        margin-left: 10px;
        display: flex;
        align-items: center; }
        .sticky-note-wrapper .note-form-wrapper .level-wrapper .star-wrapper .star-container.active .icon-star {
          color: #fee82d; }
        .sticky-note-wrapper .note-form-wrapper .level-wrapper .star-wrapper .icon-star {
          cursor: pointer; }
    .sticky-note-wrapper .note-form-wrapper .add-bt-wrapper {
      display: flex;
      justify-content: center; }
      .sticky-note-wrapper .note-form-wrapper .add-bt-wrapper .add-bt {
        width: 100px;
        color: white;
        font-size: 20px;
        background: #00d3aa;
        cursor: pointer;
        border-radius: 20px;
        text-align: center;
        padding: 4px 0; }
