* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PingFangSC-Regular;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

$colorPrimary: #00d3aa;

.sticky-note-wrapper {
  min-height: 100vh;
  background: #f4f5f5;
  overflow: hidden;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    background: #ffffff;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.22);
    .header-title {
      font-size: 32px;
      color: #00D3AA;
      font-family: FZY4JW--GB1-0;
    }
    .notes-type-wrapper {
      display: flex;
      flex: 1;
      font-size: 18px;
      justify-content: center;
      .notes-type {
        margin: 0 50px;
        color: #999999;
        border-bottom: 2px solid transparent;
        position: relative;
        cursor: pointer;
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 3px;
        }
        &.active {
          color: $colorPrimary;
        }
        &:hover, &.active {
          color: $colorPrimary;
          &::after {
            background: $colorPrimary;
            animation: slideUp 0.3s;
          }
        }
        @keyframes slideUp {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
    .user-area {
      display: flex;
      align-items: center;
      line-height: 1;
      .line {
        margin: 0 5px;
      }
      img {
        height: 30px;
        height: 30px;
        border: 1px solid #999;
        border-radius: 50%;
        margin-right: 5px;
      }
      .logout {
        background: $colorPrimary;
        padding: 7px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }
    }
    .login-bt {
      background: $colorPrimary;
      color: white;
      border-radius: 20px;
      padding: 8px;
      display: flex;
      align-items: center;
      .icon-github {
        margin-right: 5px;
        font-size: 24px;
      }
    }
  }

  .main-content {
    width: 86%;
    margin: 0 auto;
    padding-top: 80px;
    min-height: 100vh;
    position: relative;
  }

  .add-note {
    cursor: pointer;
    position: fixed;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center ;
    right: 50px;
    bottom: 20px;
    background: $colorPrimary;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
  }

  .shade-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, .5);
    &.active {
      display: inherit;
    }
  }
  .note-form-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 4px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: PingFangSC-Medium;
    display: none;
    user-select: none;
    &.active {
      display: flex;
    }
    .form-tile {
      color: #666666;
      font-size: 28px;
      text-align: center;
      margin-bottom: 20px;
    }
    .icon-close {
      position: absolute;
      right: 20px;
      top: 25px;
      font-size: 24px;
      cursor: pointer;
    }
    #note-content {
      background: #F5F5F5;
      border-radius: 4px;
      padding: 10px;
      resize: none;
      font-size: 20px;
      &::placeholder {
        color: #999999;
        font-size: 20px;
      }
    }
    .level-wrapper {
      margin: 20px 0;
      display: flex;
      align-items: center;
      color: #333333;
      .star-wrapper {
        margin-left: 10px;
        display: flex;
        align-items: center;
        .star-container {
          &.active {

            .icon-star {
              color: #fee82d;
            }

          }
        }
        .icon-star {
          cursor: pointer;

        }
      }
    }
    .add-bt-wrapper {
      display: flex;
      justify-content: center;
      .add-bt {
        width: 100px;
        color: white;
        font-size: 20px;
        background: $colorPrimary;
        cursor: pointer;
        border-radius: 20px;
        text-align: center;
        padding: 4px 0;
      }
    }
  }
}