$colorPrimary: #00d3aa;
.note {
  transition: all .5s;
  width: 230px;
  min-height: 250px;
  border-radius: 4px;
  position: absolute;
  background: white;
  margin: 10px;
  color: #4D4D4D;
  padding: 0 20px;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  &.hidden {
    display: none;
  }
  &:hover {
    .note-header {
      .icon-close {
        opacity: 1;
        transition: all 0.5s;
      }
    }
  }
  .note-header {
    color: #808080;
    font-size: 14px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    user-select: none;
    .user-name {
      flex: 1;
      word-break: break-all;
    }

    .icon-close {
      cursor: pointer;
      opacity: 0;
      font-size: 18px;
    }
  }
  .note-content {
    position: relative;
    width: 100%;
    flex: 1;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    word-break: break-all;
    padding: 5px 0;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }

  }
  .create-time-wrapper {
    font-size: 14px;
    .create-time {
      flex: 1;
    }
  }
  .note-footer {
    margin-bottom: 20px;
    .level-wrapper {
      margin-bottom: 8px;
      .level-title {
        font-size: 14px;
        margin-right: 5px;
      }
      .icon-star-wrapper {
        cursor: pointer;
        line-height: 1;
        .icon-star {
          color: #DBDBDB;
        }
        &.active {
          .icon-star {
            color: #fee82d;
          }
        }
      }
    }


    .status-bt {
      white-space: nowrap;
      padding: 2px 0;
      text-align: center;
      width: 50px;
      display: inline-block;
      cursor: pointer;
      background: $colorPrimary;
      border-radius: 10px;

      margin: 10px 0;
      .icon-check {
        color: white;
        font-size: 18px;
      }
      .status-done {
        display: none;
        color: white;
        font-size: 14px;
      }
      &.active {
        background: #fee82d;
        .status-done {
          display: inherit;
        }
        .icon-check {
          display: none;
        }
      }
    }
  }
}

.draggable{
  opacity: 0.8;
  cursor:move;
  transition: none;
}