$colorPrimary: #00d3aa;

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 5px;
  border-radius: 5px;
  background: $colorPrimary;
  color: white;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}