$colorPrimary: #00d3aa;

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: $colorPrimary;
  background: white;
  box-shadow: 0 0px 10px rgba(0,137,110, 0.3);
  font-size: 20px;
  padding: 14px 68px;
  font-family: PingFangSC-Medium;
}